.swiper {
  height: 100%;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .swiper {
    width: 100%;
  }
}

.swiper-bullet{
    background-color : red;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: auto;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
